body {
    font-family: Arial, sans-serif;
    background: #fafafa;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.schedule {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 120px repeat(5, 1fr);
    gap: 10px;
}

.heading {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.time {
    background: #b8e0d2;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}

.cell {
    background: #f3c6e2;
    border-radius: 8px;
    height: 40px;
}

.day {
    background: #eed9a5;
    padding: 10px;
    border-radius: 8px;
}

.note {
    background: #b8e0d2;
    padding: 10px;
    width: 90%;
    margin: 20px auto 0;
    border-radius: 8px;
    font-weight: bold;
}